<h2 mat-dialog-title>
    Chỉnh sửa danh mục:
    <span class="text-red-500">{{data.catalog_title}}</span>
</h2>
<mat-dialog-content>
    <mat-form-field class="w-full">
        <mat-label>Danh mục cha</mat-label>
        <mat-select [(ngModel)]="selectedCatalog">
            <mat-option *ngFor="let catalog of catalogs" [value]="catalog.id">
                {{catalog.catalog_title}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Tên danh mục</mat-label>
        <input matInput [value]="data.catalog_title">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Mô tả</mat-label>
        <textarea matInput [value]="data.description"></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</mat-dialog-actions>