<h2 mat-dialog-title>
    Tạo danh mục mới
</h2>
<mat-dialog-content>
    <mat-form-field class="w-full">
        <mat-label>No.</mat-label>
        <input matInput disabled="true" value="Tự động">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Danh mục cha</mat-label>
        <mat-select [(ngModel)]="selectedCatalog">
            <mat-option *ngFor="let catalog of catalogs" [value]="catalog.id">
                {{catalog.catalog_title}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Tên danh mục</mat-label>
        <input matInput [(ngModel)]="title">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Mô tả</mat-label>
        <textarea matInput [(ngModel)]="description"></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button (click)="onNoClick()" class=" align-middle select-none font-sans font-bold text-center uppercase transition-all
                            disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6
                            rounded-lg bg-red-500 text-white shadow-md shadow-gray-900/10 hover:shadow-lg mr-3
                            hover:shadow-gray-900/20 active:opacity-[0.85]" type="button">
        <i class="fa-solid fa-ban"></i>
    </button>
    <button (click)="onCreated()"
        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-yellow-500 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85]"
        type="button">
        <i class="fa-solid fa-check"></i>
    </button>
</mat-dialog-actions>