<div class="relative flex flex-col min-w-0 break-words bg-white mb-6 shadow-lg">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
            <!-- id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- parent_title Column -->
            <ng-container matColumnDef="parent_title">
                <th mat-header-cell *matHeaderCellDef> Danh mục cha </th>
                <td mat-cell *matCellDef="let element"> {{element.parent_title}} </td>
            </ng-container>

            <!-- catalog_title Column -->
            <ng-container matColumnDef="catalog_title">
                <th mat-header-cell *matHeaderCellDef> Tên danh mục </th>
                <td mat-cell *matCellDef="let element"> {{element.catalog_title}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Mô tả </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Hành động </th>
                <td mat-cell *matCellDef="let element">
                    <div class="flex justify-center items-center">
                        <button (click)="openModifiedDialog(element)" class=" align-middle select-none font-sans font-bold text-center uppercase transition-all
                            disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6
                            rounded-lg bg-yellow-500 text-white shadow-md shadow-gray-900/10 hover:shadow-lg mr-3
                            hover:shadow-gray-900/20 active:opacity-[0.85]" type="button">
                            <i class="fa-solid fa-wrench"></i>
                        </button>
                        <button (click)="openDeleteDialog(element)" class="align-middle select-none font-sans font-bold text-center uppercase transition-all
                            disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 
                            rounded-lg bg-red-500 text-white shadow-md shadow-gray-900/10 hover:shadow-lg 
                            hover:shadow-gray-900/20 active:opacity-[0.85]" type="button">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="totalElements" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
            showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>