<nav
  class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6">
  <div
    class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto">
    <div
      class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
      [ngClass]="collapseShow">
      <!-- Collapse header -->
      <div class="md:min-w-full block pb-4 mb-4 border-b border-solid border-blueGray-200">
        <div class="flex flex-wrap">
          <div class="w-6/12">
            <a [routerLink]="['/']"
              class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm font-bold p-4 px-0">
              LeeSooShop CMS
            </a>
          </div>
          <div class="w-6/12 flex justify-end">
            <button type="button"
              class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
              (click)="toggleCollapseShow('hidden')">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Heading -->
      <h6 class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline">
        Quản lý sản phẩm
      </h6>
      <!-- Navigation -->

      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center">
          <a [routerLink]="['/product']" class="text-xs  py-3 font-bold block" routerLinkActive
            #adminProduct="routerLinkActive" [ngClass]="
              adminProduct.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            ">
            <i class="fa-solid fa-box mr-2 text-sm" [ngClass]="
                adminProduct.isActive ? 'opacity-75' : 'text-blueGray-300'
              "></i>
            Sản phẩm
          </a>
        </li>
      </ul>
      <h6 class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 mt-4 pb-4 no-underline">
        Quản lý danh mục
      </h6>
      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center">
          <a [routerLink]="['/age']" class="text-xs  py-3 font-bold block" routerLinkActive #adminAge="routerLinkActive"
            [ngClass]="
              adminAge.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            ">
            <i class="fa-solid fa-wave-square mr-2 text-sm" [ngClass]="
                adminAge.isActive ? 'opacity-75' : 'text-blueGray-300'
              "></i>
            Danh mục tuổi
          </a>
        </li>
        <li class="items-center">
          <a [routerLink]="['/gender']" class="text-xs py-3 font-bold block" routerLinkActive
            #adminGender="routerLinkActive" [ngClass]="
              adminGender.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            ">
            <i class="fa-solid fa-venus-mars mr-2 text-sm" [ngClass]="
                adminGender.isActive ? 'opacity-75' : 'text-blueGray-300'
              "></i>
            Danh mục giới tính
          </a>
        </li>

        <li class="items-center">
          <a [routerLink]="['/brand']" class="text-xs py-3 font-bold block" routerLinkActive
            #adminBrand="routerLinkActive" [ngClass]="
              adminBrand.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            ">
            <i class="fa-solid fa-store mr-2 text-sm" [ngClass]="
                adminBrand.isActive ? 'opacity-75' : 'text-blueGray-300'
              "></i>
            Danh mục nhãn hàng
          </a>
        </li>

        <li class="items-center">
          <a [routerLink]="['/catalog']" class="text-xs py-3 font-bold block" routerLinkActive
            #adminCatalog="routerLinkActive" [ngClass]="
              adminCatalog.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            ">
            <i class="fas fa-robot mr-2 text-sm" [ngClass]="
                adminCatalog.isActive ? 'opacity-75' : 'text-blueGray-300'
              "></i>
            Danh mục loại đồ chơi
          </a>
        </li>
      </ul>
      <!-- Heading -->
      <h6 class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 mt-4 pb-4 no-underline">
        Quản lý giảm giá
      </h6>
      <!-- Navigation -->

      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center">
          <a [routerLink]="['/discount-product']" class="text-xs  py-3 font-bold block" routerLinkActive
            #adminDiscountProduct="routerLinkActive" [ngClass]="
              adminDiscountProduct.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            ">
            <i class="fas fa-percent mr-2 text-sm" [ngClass]="
                adminDiscountProduct.isActive ? 'opacity-75' : 'text-blueGray-300'
              "></i>
            Giảm giá theo sản phẩm
          </a>
        </li>
        <li class="items-center">
          <a [routerLink]="['/discount-catalog']" class="text-xs  py-3 font-bold block" routerLinkActive
            #adminDiscountCatalog="routerLinkActive" [ngClass]="
              adminDiscountCatalog.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            ">
            <i class="fas fa-percent mr-2 text-sm" [ngClass]="
                adminDiscountCatalog.isActive ? 'opacity-75' : 'text-blueGray-300'
              "></i>
            Giảm giá theo danh mục đồ chơi
          </a>
        </li>
      </ul>
      <!-- Heading -->
      <h6 class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 mt-4 pb-4 no-underline">
        Quản lý người dùng
      </h6>
      <!-- Navigation -->

      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center">
          <a [routerLink]="['/user-admin']" class="text-xs  py-3 font-bold block" routerLinkActive
            #adminUser="routerLinkActive" [ngClass]="
              adminUser.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            ">
            <i class="fas fa-users mr-2 text-sm" [ngClass]="
                adminUser.isActive ? 'opacity-75' : 'text-blueGray-300'
              "></i>
            Danh sách người dùng
          </a>
        </li>
      </ul>

      <!-- Heading -->
      <h6 class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 mt-4 pb-4 no-underline">
        Quản lý banner
      </h6>
      <!-- Navigation -->

      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center">
          <a [routerLink]="['/banner']" class="text-xs  py-3 font-bold block" routerLinkActive
            #adminBanner="routerLinkActive" [ngClass]="
              adminBanner.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            ">
            <i class="fas fa-images mr-2 text-sm" [ngClass]="
                adminBanner.isActive ? 'opacity-75' : 'text-blueGray-300'
              "></i>
            Danh sách banner
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>