<div class="flex flex-wrap rounded-lg">
    <div class="w-full lg:w-12/12 px-4">
        <app-card-catalog [dataSource]="dataSource" [totalElements]="totalElements" [search]="search"
        [loadElements]="loadElements.bind(this)" (searchChange)="onSearchChange($event)"></app-card-catalog>
    </div>
    <div class="w-full lg:w-12/12 px-4">
        <app-catalog-table [dataSource]="dataSource" [totalElements]="totalElements" [search]="search"
            [loadElements]="loadElements.bind(this)"></app-catalog-table>
    </div>
</div>